<h1>Restablecimiento de contraseña</h1>
<hr />
<form action="/session/forget-password" method="post">
    email: <input type="text" name="email"> <input type="submit" value="Restablecer contraseña"><br>
    <a href="">Login</a> | <a href="">Registrar</a>
</form>